.weather {
    background-image: url(images/background.jpg);
    background-size: cover;
    background-position: 100% 100%;
}

.w-21{
    width: 21%;
}
.bg-light-color {
    background-color: #94d2e8;
}

.bg-dark-color {
    background-color: #91cfe6;
}

.footer-icons {
    width: 20px;
    height: 20px;
}

.searchBox {
    height: 45px;
    background-color: white;
    border-radius: 30px;
    padding-block: 20px;
    padding-right: 5px;
    padding-left: 15px;
    padding-top: 4px;
}

.searchBox i {
    font-size: 20px;
    color: #777;
    padding-top: 6px;

}

.searchBox input {
    flex: 1;
    height: 30px;
    border: none;
    outline: none;
    font-size: 16px;
    padding-left: 10px;
    padding-top: 2px;
}

.wLogo {
    width: 85px;
    height: 85px;
}

.wNav {
    margin: auto;
    text-align: center;
}

.active {
    padding: 7px 5px;
    border: 1px solid #33b0dd;
    border-radius: 30px;

}
.nav-item a {
    color: #20b0e5;
}

.nav-link:hover {

    padding-right: 12px;
    padding-left: 12px;

    border: 1px solid #33b0dd;
    border-radius: 30px;

}

.social {
    padding: 10px;
    padding-inline: 12px;
    height: 40px;
    width: 40px;
    background-color: #f6f63a;
}

button::selection {
    border: none;
}

.bg-diff-color {
    background-color: #fafa89
}

.bg-dYellow-color {
    background-color: #f6f63a
}

.btn:focus {
    outline: 0;
    box-shadow: none;
}

.navbar-toggler:focus {
    text-decoration: none;
    outline: 0;
    box-shadow: none;
}

.navbar-collapse {
    display: flex;
    justify-content: center;
}

.navbar-nav {
    display: flex;
    justify-content: center;
    align-items: center;
}


.navbar-toggler-icon {
    display: inline-block;
    width: 1.5em;
    height: 1.5em;
    vertical-align: middle;
    background-repeat: no-repeat;
    background-position: center;
    background-size: 100%;
    background-image: url("images/menu-bars-svgrepo-com\ \(1\).svg") !important;
}

.navbar-toggler {
    padding: .25rem .75rem;
    font-size: 1.25rem;
    line-height: 1;
    background-color: transparent;
    border: 1px solid #94d2e8;
    border-radius: .25rem;
    transition: box-shadow .15s ease-in-out;
}




@media screen and (min-width:0px) and (max-width:991px) {
    .bg-small {

        background-color: #ffffffa3;
        padding: 10px;
    }

    li {
        padding-block: 7px;
    }
  
}